@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* { box-sizing: border-box; }

:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

html { font-size: 16px; }

body {
    color: var(--cor-texto);
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--cor-clara);
}

body, h1, h2, p, figure, nav ul {
    margin: 0;
    padding: 0;
}

img { max-width: 100%; }

a { text-decoration: none; }

h1 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
}

h1 a {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 0.3rem 1rem;
    border-radius: 4px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 a { 
    color: var(--cor-escura);
    font-size: 1.2rem;
    /* background-color: yellow; */
    padding: 1rem;
    display: inline-block;
}


nav h2 a:hover, nav h2 a:focus,
.links-menu a:hover, .links-menu a:focus { 
    background-color: var(--cor-intermediaria);
}

/* Estilos para a lista ul contida no nav */
.links-menu {
    list-style: none;
}

/* Estilos para os links contidos
na ul dentro do nav */
.links-menu a {
    color: var(--cor-escura);
    font-weight: bold;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}